<!DOCTYPE>
<html onclick = "play_song()">
    <head>
        <meta charset = "UTF-8">
        <title>Lost</title>
        <!-- Optinal CSS first, then Bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
        <link rel = "Stylesheet" href = "main.css">
    </head>
    
    <body class = "background ending_lost_virus_body">
        <div id = "container">
            <div id = "menu">
                <p>
                    You were defeated by the Virus... <br>
                    Can't see anything. You should've listened to the advice...
                    <p class = "text-right pr-1"><a href = "ending_lost_virus2.html">Next</a></p>
                </p>
            </div>
        </div>
        
        <!-- Optional JavaScript -->
        <script>
          var song = new Audio("../sounds/bad_end_lost.mp3");
          song.volume=.5;
          function play_song(){
              song.play();
          }
          play_song();
        </script>
        <!-- jQuery first, then Popper.js, then Bootstrap JS, then Font Awesome -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js"></script>
    </body>
</html>