<!DOCTYPE>
<html onclick = "play_song()">
    <head>
        <meta charset = "UTF-8">
        <title>Omiya</title>
        <!-- Optinal CSS first, then Bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
        <link rel = "Stylesheet" href = "main.css">
    </head>
    
    <body class = "background index_body">
        <div id = "container">
            <img src = "../images/objects/congrats.png" id = "congrats">
            <div id = "menu">
                <p>
                    You saved Saitama from the Virus!
                    <p class = "text-right pr-2"><a href = "index.html">Go to toppage</a></p>
                </p>
            </div>
        </div>

        <!-- Optional JavaScript -->
        <script>
          var song = new Audio("../sounds/ending_happy.mp4");
          song.volume=.5;
          function play_song(){
              song.play();
          }
          play_song(); 
        </script>
        <!-- jQuery first, then Popper.js, then Bootstrap JS, then Font Awesome -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js"></script>
    </body>
</html>