<!DOCTYPE>
<html onclick = "play_song()">
    <head>
        <meta charset = "UTF-8">
        <title></title>
        <!-- Optinal CSS first, then Bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
        <link rel = "Stylesheet" href = "main.css">
        
        <style>
          #hit{
            position: absolute;
            left: 700px;
            top: 190px;
            width: 200px;
          }
        </style>
    </head>
    
    <body class = "background tutorial_body">
        <div id = "container">
          <div id = "hero_hp_box">
              <div id = "hero_hp">???/???</div>
          </div>
          <div id = "enemy_hp_box">
              <div id = "enemy_hp">???/???</div>
          </div>
        
          <img src = "../images/objects/merin.png" id = "hero">
          <img src = "../images/objects/wakame_enemy.png" id = "enemy">
          <img src = "../images/objects/hit.png" id = "hit">
       
          <div id = "message"></div>
        
          <div id = "menu">
              <p>
                  What will you do?
              </p>
              <ul>
                  <li onclick = "fight()">Fight</li>
                  <li onclick = "run()">Run</li>
              </ul>
        </div>
    </div>
        
    <!-- Optional JavaScript -->
    <script>
      var fighting = false;
      
      var hero_hp_max = 50;
      var hero_hp = hero_hp_max;
      var hero_hp_div = document.getElementById("hero_hp")

      var enemy_hp_max = 50;
      var enemy_hp = enemy_hp_max;
      var enemy_hp_div = document.getElementById("enemy_hp")
      var hero_img = document.getElementById("hero");
      var hit_img = document.getElementById("hit");
      hit_img.style.display = "none";

      var enemy_img = document.getElementById("enemy");
    
      var message_div = document.getElementById("message");
      var menu_div = document.getElementById("menu");
      message_div.style.display = "none"

      var hero_attack_sound = new Audio("../sounds/enemyAttack.mp3");
      
      var run_sound = new Audio("../sounds/run.mp3");
      var victory_song = new Audio("../sounds/victory.mp3");

      var song_started = false;
      var song = new Audio("../sounds/battle.mp3");
      song.volume = .1;
      
      function play_song(){
        if(song_started == true){
          return;
        }
      song.play();
      song_started = true;
      }
      function play_hero_attack_sound(){
        hero_attack_sound.play();
      }
      
      function hide_menu(){
        menu_div.style.display = "none";
      }
      function show_menu(){
        if(hero_hp == 0 || enemy_hp == 0){
          return;
        }
      }
      function show_menu(){
        if(hero_hp == 0 || enemy_hp == 0){
          return;
        }
        menu_div.style.display = "";
      }
      
      function show_hit(){
        hit_img.style.display = "";        
      }
      function hero_return(){
        hit_img.style.display = "none"
        hero_img.style.left = "50px"
      }
      
      function enemy_return(){
        enemy_img.style.left = "720px"
        enemy_img.style.opacity = 1
      }

      function enemy_get_hit(){
        var damage = 10 + Math.round(10*Math.random());
        if(Math.random() > .8 || hero_hp < 20){
          damage = damage * 2;
        }
        enemy_hp -= damage;
        if(enemy_hp < 0){
          enemy_hp = 0;
        }
        update_enemy_hp();
        enemy_img.style.left = "750px"; 
        enemy_img.style.opacity = .5
        if(enemy_hp > 0){
          setTimeout(enemy_return, 200);
        }
        else{
          setTimeout(hero_wins, 700);
        }
      }
      
      function update_hero_hp(){
        hero_hp_div.innerHTML = hero_hp + "/" + hero_hp_max;
      }
      function update_enemy_hp(){
        enemy_hp_div.innerHTML = enemy_hp + "/" + enemy_hp_max;
      }
      
      function hero_attack(){
        hero_img.style.left = "550px";
        setTimeout(show_hit, 150);
        setTimeout(play_hero_attack_sound, 200);
        setTimeout(enemy_get_hit, 300)
        setTimeout(hero_return, 450);
      }
      function hero_wins(){
        message_div.innerHTML = "You win!🎉";
        message_div.style.display = "";
        song.pause();
        victory_song.play();
        setTimeout(go_to_won_page, 10000);
      }
      function go_to_won_page(){
        window.location.href = "tutorial4.html"; 
      }

      function go_to_ran_page(){
        window.location.href = "gameover.html";
      }
      function run(){
        fighting = "true";
        hero_img.style.display = "none";
        run_sound.play();
        setTimeout(go_to_ran_page, 1000);
      }
      
      function stop_fighting(){
        fighting = false;
      }  
      function fight(){
        fighting = true;
        hide_menu();
        hero_attack();
        //setTimeout(enemy_attack, 1000);
        setTimeout(show_menu, 700);
        setTimeout(stop_fighting, 700);
      }
      
      update_hero_hp();
      update_enemy_hp();
    </script>
   
    <!-- jQuery first, then Popper.js, then Bootstrap JS, then Font Awesome -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js"></script>

    </body>
</html>